* {
    margin: 0;
    padding: 0;
}

a {
    color: #23232e;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: #22aa89;
    font-size: 1.1em;
}

body{
    font-family: Roboto, sans-serif
}
.wrapper {
    max-width: 1350px;
    width: 100%;
    margin: 0 auto;
}